@charset "UTF-8";

body
{
    font-family:Arial,sans-serif;
    color:white

}

header
{
    width:100%;
    height: 150px;
    Background: linear-gradient(to left, #00deff , #ff2100 );
    text-align: center;

}

footer
{
   background: linear-gradient(-45deg, #00deff, #ff2100) 
}



#figure
{
    position: relative;
    width: 125px;
    height:150px;
    margin:5px;
    padding: 5px;
    border:1px black;
}

img
{
    width: 125px;
    height: 150px;
}

#wrapper
{
    width: 100%;
    height: 461px;
}

